/*Strip the ul of padding and list styling*/
.menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: relative;
  text-align: center;
}

/*Create a horizontal list with spacing*/
.menu li {
	display:inline-table;
	margin-right: 1px;
  text-align: center;
}

/*Style for menu links*/
.menu li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
  background: #00C5CD;
	text-decoration: none;
}

/*Hover state for top level links*/
.menu li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
.menu li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
.menu li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
.menu li ul {
	display: none;
}

/*Make dropdown links vertical*/
.menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.menu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
.menu ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.menu .show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
.menu input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
.menu input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	.menu ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.menu li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.menu ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.menu .show-menu {
		display:block;
	}
}
